{% extends "base.html" %}
{% block content %}

<div class="container-fluid bg-3 text-left">

      <h2 class="bg-primary text-center">Cluster Login Request Form</h2><br>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form action="{{ url_for('cluster_request_save') }}" method="post" enctype="multipart/form-data">
         <div class="row">
             <div class="col-sm-2">
                  <label class="col-form-label">NCP Id.:</label>
              </div>
              <div class="col-sm-4">
                  <input type="text" placeholder="User Id" class="form-control" readonly value="{{id}}"/>
              </div>
              <div class="col-sm-2">
                  <label class="col-form-label">University/Centre*:</label>
              </div>
              <div class="col-sm-4">
                  <input type="text" placeholder="University/Centre" class="form-control" required name="cuc" pattern="[A-Za-z' ']*"/>
              </div>
          </div><br>
         <div class="row">
              <div class="col-sm-2">
                  <label class="col-form-label">Thesis/Researcher Title*:</label>
              </div>
              <div class="col-sm-4">
                  <input type="text" placeholder="Thesis/Researcher Title" class="form-control" required name="ctrt" pattern="[A-Za-z' ']*"/>
              </div>
             <div class="col-sm-2">
                  <label class="col-form-label">Compiler Required*:</label>
              </div>
              <div class="col-sm-4">
                  <input type="text" placeholder="Mentioned Compiler Required" class="form-control" required name="ccr" pattern="[A-Za-z' ']*"/>
              </div>
         </div><br>
          <div class="row">
              <div class="col-sm-2">
                  <label class="col-form-label">Packages Required:</label>
              </div>
              <div class="col-sm-4">
                  <input type="text" placeholder="Mentioned Packages Required (if any)" class="form-control"  name="cpr" pattern="[A-Za-z' ']*"/>
              </div>
              <div class="col-sm-2">
                   <label class="col-form-label">Forward To*:</label>
              </div>
              <div class="col-sm-4">
                  <select class="form-control"  name="appforward" required>
                               {% for id, name,designation in row %}
                       <option value="{{id}}">{{name}}   Designation: {{designation}}</option>
                                {% endfor %}
                  </select>
              </div>
          </div><br>
          <div class="row text-left">
              <div class="col-sm-6">
                  <label class="col-form-label">Specify the time duration of stay (if any)</label>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-2">
                   <label class="col-form-label">From</label>
              </div>
              <div class="col-sm-4">
                  <input type="date" placeholder="From" class="form-control" name="loginfrom" required onchange="dobc()" id="from"/>
                  <p id="dobcheck" class="text-danger"></p>
              </div>
              <div class="col-sm-2">
                   <label class="col-form-label">To:</label>
              </div>
              <div class="col-sm-4">
                  <input type="date" placeholder="To" class="form-control" name="loginto" required onchange="tenjc()" id="to"/>
                  <p id="t" class="text-danger"></p>
              </div>
          </div><br>
          <div class="row text-left">
              <div class="col-sm-6">
                  <label class="col-form-label">Attach the Proof of Affliation with NCP*:</label>
              </div>
              <div class="col-sm-4">
                   <input type="file" class="form-control-file" required name="appfile" accept="application/pdf" onchange="AlertFilesize()" id="file"/>
                   <p id="f" class="text-danger"></p>
              </div>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
          <a href="{{ url_for('Back1') }}"><button type="button" class="btn btn-primary mb-2">Back</button> </a>
      </form>

    </div>
  </div>
</div>
<br>
<footer class="container-fluid text-center">
  <p>&#169; Design and Develop By Muhammad Ahmad</p>
</footer>
<script>
  function unable()
  {
    document.getElementById('softe').disabled=false;
  }
   function dis()
  {
    document.getElementById('softe').disabled=true;
    document.getElementById('eo').disabled=true;
  }
   function unable1()
  {
    document.getElementById('eo').disabled=false;
  }
   function dis1()
  {
    document.getElementById('eo').disabled=true;
  }
  function dobc() {
        var date1 = new Date(document.getElementById("from").value);
        var date2=new Date();
        if (date1<date2)
        {
            document.getElementById("dobcheck").innerHTML="Select after date";
            document.getElementById("from").value='';
        }
        else
        {
            document.getElementById("dobcheck").innerHTML="";
        }
    }
    function tenjc() {
        var date1 = new Date(document.getElementById("from").value);
        var date2 = new Date();
        var date3 = new Date(document.getElementById("to").value);
        if (date3<date1)
        {
            document.getElementById("t").innerHTML="Select date after '"+date1+"'";
            document.getElementById("to").value='';
        }
        else
        {
            document.getElementById("t").innerHTML="";
        }
    }
</script>
<script type="text/javascript">
function AlertFilesize(){
    var fileSize = document.getElementById('file').files[0].size;
    if(fileSize > 2000000) {
       document.getElementById("f").innerHTML="Select file less than 2MB ";
        document.getElementById('file').value='';}
        else
        {
            document.getElementById("f").innerHTML='';
        }
}
</script>

{% endblock %}
